    <header class="main-header" >
        <nav class="navigation-bar">
            <div class="logo">
                <a href="/">Nerdanta</a>
            </div>
            <div class="content">
                <a href="/" id="main-page">Home</a>
                <a href="/edit" id="edit-page">Add</a>
                <a href="/delete" id="edit-page">Delete</a>
                <a href="/about" id="about-page">About</a>
            </div>
        </nav>
    </header> 