<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <title>Game-Review</title>
    
</head>
<body>
    <%- include('partials/header.ejs') %>

    <main class="add-section">
        <form action="/remove" method="post" class="add-form">
            <div>
                <label for="game-title">Game Title:</label>
                <input type="text" id="game-title" name="game-title" required>
            </div>
            <div  class="Add">
                <input type="submit" value="Confirm"  class="Add">
            </div>
        </form>
    </main>

    <%- include('partials/footer.ejs') %>
    <script src="jquery.js"></script>
</body>
</html>